body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

#header {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

@media (min-width:1345px){
	.logo-container{
		margin-left: 15%;
	}
	#navbarNav {
		margin-right: 15%;

	}
}

.logo-container{
	height: 100%;
	display: table;
	float: left;
	padding-top: 5px;

}

.occupation-container p{
		margin-top: 6px;
		font-family: "Montserrat";
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 10px 10px;
		
}

.logo-container h1{
	color: white;
	height: 100%;
	display: table-caption;
	vertical-align: middle;
	font-family: "Montserrat";
	font-size: 32px;
	font-weight: 50;
	
}


.logo-container h1 span{
	font-weight: 900;

}

.owner-container h2 {
	color: white;
	font-family: "Montserrat";
	font-size: calc(4em + 1vw)
}

.owner-container .username {
	font-weight: 50;
}
.owner-container .lastname {
	font-weight: 900;
}



/*h1 p h3 h4 h5 li a label*/

.main-title {
	font-family: "Montserrat";
	font-weight: 700;
}


.social-header {
	text-align: center;
	width: 100%;
	height: 55px;
	padding: 5px;
}

.social-header a {
	padding: 10px;
	margin: 5px;
	color: #000;
	height: auto;
	width: auto;
	border-radius: 50%;
	background: white;
	display: inline-block;
}

.social-header .header-instagram:hover {
	background: #f09433;
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
	
}

.social-header a:hover {
	color: white;
}

.social-header .header-twitter:hover {
	background-color: #00acee;
}

.social-header .header-linkedin:hover {
	background-color: #0e76a8;
}

.social-header .header-gitlab:hover {
	background-color: #1a0dab;
}




.user-box {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.user-box img {
	max-width: 1500px;
	height: auto;

}

.user-box h1 {
	color: #fff;
	font-weight: bold;
	margin: 10px;
}

.user-box p {
	color: #fff;
}



@media (min-height:710px){

.scroll-btn {
	display: block;
	bottom: 30px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border: 2px solid #fff;
	padding: 10px 10px 20px;
	border-radius: 30px;
}



.scroll-btn a i{
	animation: mover 1s infinite alternate;
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(10px);
	}
}

}


@media (max-height:709px){

	.scroll-btn {
		display: none;
	}
}	

/*about*/

.about {
	padding-top: 50px;
	padding-bottom: 60px;
}

@media (min-width:768px){
	.about{
		margin-bottom: -140px;
	}
}

.profile-img {
	height: auto;
}

.my-navbar{
	position: relative;
    display: -ms-flexbox;
    display: flex;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
	-ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}



.my-navbar .logo-container {
	padding-left: 20px;


}

.my-navbar .fa-bars {
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;


}

@media (max-height:554px){
	.social-header{
		display: none;
	}
	
}

#navbar-menu li {
	padding: 12px; ;
	list-style: none;
	display: inline-block;
}

#navbar-menu li a {
	color: white;
	font-weight: 800;
	font-size: 15px;
	font-family: "Montserrat"
}

#navbar-menu li.active {
	background-color: rgb(255, 255, 255);

}

#navbar-menu li.active a{
	color: rgb(0, 0, 0);
}



#navbar-menu li:hover {
	background-color: #fff;
	transition: 0.25s;
}

#navbar-menu li:hover a {
	color: rgb(0, 0, 0);
}


/*
.navbar .cool-link::after {
	content: "";
	display: inline-block;
	width: 0;
	height: 1px;
	background: rgb(255, 81, 0);
	transition: width .3s;
	margin: 0 auto;
}
.navbar .cool-link:hover::after {

	width: 100%;
	transition: width .3s;

}*/

.skills-bar p {
	margin-bottom: 6px;
	font-weight: 600;
}

.progress {
	border-radius: 16px !important;
	margin-bottom: 10px;
}

.progress-bar {
	border-radius: 16px;
	background: rgb(13, 80, 136) !important;
	animation: fill 2s;
}

@keyframes fill {
	from{
		width:0%;
	}to {
		max-width:100% ;
	}
}


/*Resume*/

.resume {
	padding-top: 50px;
	padding-bottom: 30px;
	background: #f9f9f9;
}

.resume .table-container {
	overflow-x: auto;
}

.resume .btn {
	text-align: center;
	padding: 10px 25px 10px 25px;
	margin: 5px;
	border-radius: 30px;
	border: 2px solid #000;
	background: transparent;
}

.resume .btn:focus {
	box-shadow: none !important;
}

.resume .btn-container {
	text-align: center;
}

.resume .btn-container a {
	color: black;
}

.resume .btn-container i {
	color: black;
}


.resume .btn:hover {
	background: rgb(101, 132, 189) !important;
	border: 2px solid rgb(101, 132, 189) !important;
	transition: 0.6s;
	cursor: pointer;
}

.resume .btn:hover i {
	color: white;
}

.resume .btn-container .btn:hover {
	color: white;
}

.resume .btn .fa {
	margin-right: 10px;
}

.timeline {
	list-style-type: none;
	position: relative;
}	

.submit-container button {
	display: inline-block;
	width: 170px;
	height: 50px;
	border: 2px solid #fff;
	color: #fff;
	font-size: 15px;
	font-weight: bold;

	text-align: center;
	text-decoration: none;
	line-height: 45px;
	box-sizing: border-box;
	border-radius: 50px;
	background-color: transparent;
	outline: none;
	transition: all ease 0.5s;
}
.submit-container button:focus {
	outline-style: none;
	outline-color: transparent;
}


.submit-container button.active {
	font-size: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border-left-color: transparent;
	animation: rotate 1.4s ease 0.5s infinite;
}

@keyframes rotate{
	0% {
		transform: rotate(360deg)
	}
}


.submit-container button.success {
	position: relative;
	background: #fff;
	animation: bounce .3s ease-in;
}

@keyframes bounce {
	0%{
		transform: scale(0.9)
	}
}
.submit-container button.success:before {
	content: "";
	position: absolute;
	background: url(../img/check-solid.svg) no-repeat;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 31px;
	height: 31px;
	line-height: 31px;
	top: 8px;
	}


	
.submit-container button.failed {
	position: relative;
	background: #fff;
	animation: bounce .3s ease-in;
}

.submit-container button.failed:before {
	content: "";
	position: absolute;
	background: url(../img/times-solid.svg) no-repeat;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 10px;
	height: 10px;
	line-height: 10px;
	top: 8px;
	}

	

.timeline:before {
	content: '';
	background: #000;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 1;
}

.timeline li {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	background: #f9f9f9;
}

.timeline li h4 {
	background: rgb(13, 80, 136);
	padding: 5px 0px 5px 20px;
	color: #fff;
	font-size: 15px;
}

.timeline li h4 span {
	font-weight: bold;
	color: #fff;
}

.timeline li:before {
	content: '';
	background: rgb(13, 80, 136);
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #f9f9f9;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index: 1;
}


/*Services*/

.services {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/projects.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.services .wave {
	position: absolute;
	width: 100%;
	height: 143px;
	bottom: 0;
	left: 0;
	background: url(../img/wave.png);
	animation: animate 10s linear infinite;
}

.services .wave:after {
	content: "";
	width: 100%;
	height: 143px;
	background: url(../img/wave.png);
	position: absolute;
	top: 0;
	left: 0;
	animation-delay: -5s;
	opacity: 0.6;
	animation: animate 20s linear infinite;


}

.services .wave:before {
	content: "";
	width: 100%;
	height: 143px;
	background: url(../img/wave.png);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.4;
	animation: animate-reverse 10s linear infinite;


}


@keyframes animate {
	0%{
		background-position: 0;
	}
	100%{
		background-position: 1360px;
	}
}


@keyframes animate-reverse {
	0%{
		background-position: 1360px;
	}
	100%{
		background-position: 0;
	}
}
.services .main-title {
	margin-bottom: 15px;
	color: white;
}

.my-container {
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.services .service-p {
	color: white;
}

.services .container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 80px;
	justify-content: space-between;
}

.services .container .box {
	position: relative;
	width: 350px;
	padding: 40px;
	background: rgb(255, 255, 255);
	box-shadow: 0 20px 30px rgba(0,0,0,.1);
	border-radius: 4px;
	margin: 10px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
}

.services .container .box::before {
	content: "";
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,255,255,.2);
	z-index: 2;
	pointer-events: none;

}


.services .container .box .icon {
	position: relative;
	width: 80px;
	height: 80px;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border-radius: 50%;
	font-size: 40px;
	font-weight: 700;
	transition: 1s;

}

.services .container .box:nth-child(1) .icon {
	box-shadow: 0 0 0 0 #e91e63;
	background:  #e91e63;
	
}

.services .container .box:nth-child(1):hover .icon {
	box-shadow: 0 0 0 400px #e91e63;
	
}

.services .container .box:nth-child(2) .icon {
	box-shadow: 0 0 0 0 #4caf30;
	background:  #4caf30;
	
}


.services .container .box:nth-child(2):hover .icon {
	box-shadow: 0 0 0 400px #4caf30;
	
}

.services .container .box:nth-child(3) .icon {
	box-shadow: 0 0 0 0 #2196f3;
	background:  #2196f3;
	
}


.services .container .box:nth-child(3):hover .icon {
	box-shadow: 0 0 0 400px #2196f3;
	
}

.services .container .box .content{
	position: relative;
	z-index:1;
	transition:0.5s;

}

.services .container .box:hover .content{
	color: #fff;

}

.services .container .box .content h3{
font-size: 20px;
	margin: 10px 0;
	padding: 0;

}

.services .container .box .content p{
		margin: 0;
		padding: 0;
		
	}


	.services .container .box .content a{
		display: inline-block;
		padding: 10px 20px;
		background: #fff;
		border-radius: 4px;
		text-decoration: none;
		color: #000;
		font-weight: 500;
		margin-top: 20px;
		box-shadow: 0 2px 5px rgba(0,0,0,.2);
		transition: 0.5s;
	}

	
	.services .container .box .content .wd-btn:hover {
		background: #700025;
		color: white;
		transition: 0.5s;

	}

	.services .container .box .content .ad-btn:hover {
		background: #036e23;
		color: white;
		transition: 0.5s;

	}

	.services .container .box .content .os-btn:hover {
		background: #0066ff;
		color: white;
		transition: 0.5s;

	}

/*
.services .container {
	position: relative;
	width: auto;
	height: auto;
	margin: 60px auto;
}

.services .container .box {
	position: relative;;
	width: calc(370px - 30px);
	height: calc(350px - 30px);
	background: #000;
	float: left;
	margin: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
}

.services .container .box .icon {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: 0.5s;
	z-index: 1;
}

.services .container .box:hover .icon {
	top:20px;
	left: calc(50% - 40px);
	width: 80px;
	height: 80px;
	border-radius: 50%;


}

.services .container .box .icon .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 80px;
	transition: 0.5s;
	color: #fff; 
	

}

.services .container .box:hover .icon .fa {
	font-size: 40px;

}


.services .container .box .content {
	position: absolute;
	height: calc(100% - 100px);
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	top: 100%;
	transition: 0.5s;
	opacity: 0;


}


.services .container .box:hover .content {
	
top: 100px;
opacity: 1;
}

.services .container .box .content h3 {
	margin: 0 0 10px;
	padding: 0;
	color: #fff;
	font-size: 24px;
	

}

.services .container .box .content p {
	margin: 0;
	padding: 0;
	color: #fff;
}

.services .container .box:nth-child(1) .icon {
	background: #319635;
}

.services .container .box:nth-child(1)  {
	background: #4caf30;
}

.services .container .box:nth-child(2) .icon {
	background: #d03852;
}

.services .container .box:nth-child(2)  {
	background: #f54967;
}

.services .container .box:nth-child(3) .icon {
	background: #23798e;
}

.services .container .box:nth-child(3)  {
	background: #328fa5;
}*/

/*css style 1 services
.services .service-container {
	width: auto;
	position: relative;
	display: flex;
}

.services .service-container .card {
	border-color: transparent;
	margin: 0 auto;
	position: relative;
	margin-top: 12px;
	margin-bottom: 20px;


}

.services .service-container .card .face{
	width: 300px;
	height: 220px;
	transition: 0.5s;


}


.services .service-container .card .face.face1{
	position: relative;
	background:rgb(71, 70, 70);
	display: flex;
	border-top-left-radius:20px; 
	border-top-right-radius:20px; 
	border-bottom-left-radius:20px; 
	border-bottom-right-radius:20px; 
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100px);
}

.services .service-container .card:hover .face.face1{
	transform: translateY(0px);

	border-bottom-left-radius:0px; 
	border-bottom-right-radius:0px; 
	background: linear-gradient(to right bottom, rgb(131, 152, 219),rgb(22, 111, 194));
}

.services .service-container .card .face.face1 .content{
	opacity: 0.8;
	transition: 0.5s;
}

.services .service-container .card:hover .face.face1 .content{
	opacity: 1;
	transition: 0.5s;
}

.services .service-container .card:hover .face.face1 img{
	max-width: 100px;
}

.services .service-container .card:hover .face.face1 h3{
	margin: 10px 0 0;
	padding: 0;
	color: #fff;
	text-align: center;
}

.services .service-container .card .face.face2{
	position: relative;
	background:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius:20px; 
	border-top-right-radius:20px; 
	border-bottom-left-radius:20px; 
	border-bottom-right-radius:20px; 
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 10px 40px rgba(0,0,0,0.6);
	transform: translateY(-120px);


}

.services .service-container .card:hover .face.face2{
	transform: translateY(0px);
	border-top-left-radius:0px; 
	border-top-right-radius:0px; 

}


.services .service-container .card .face.face2 .content p{
	margin: 0;
	padding: 0;

}


.services .service-container .card .face.face2 .content a{
	display: inline-block;
	text-decoration: none;
	font-weight: 900;
	color: #333;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 7px 25px 7px 25px;
	border-radius: 30px;
	border: 2px solid #000;
	background: transparent;
}

.services .service-container .card .face.face2 .content a:hover{
	background: #333;
	color: #fff;
;
}*/
/* css style 1 services
.service-cards {
	margin: 50px auto 100px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 20px;
}

.service-cards .card {
	position: relative;
	width: 350px;
	margin: 0 auto;
	background-color: rgb(211, 213, 216);
		padding: 20px;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 0 10px 40px rgba(0,0,0,.5);
	overflow: hidden;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
}


.service-cards .card .layer {
	position: absolute;
	top: calc(98%);
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right bottom, #03a9f4, #e91ee3);
	z-index: 1;
	transition: 0.5s;
}

.service-cards .card .content {
	z-index: 2;
	position: relative;
}



.service-cards .card .content p {
	font-size: 18px;
	line-height: 24px;
	color: rgb(0, 0, 0);
	transition: 0.5s;

}

.service-cards .card .content .details h2 {
	font-size: 18px;
	color: rgb(0, 0, 0);
	transition: 0.5s;

}

.service-cards .card .content .details h2 span {
	color: #03a9f4;
	font-size: 14px;
	transition: 0.5s;
}
@media only screen and (min-width:768px) {

.service-cards .card:hover .content p {
	color: #fff;
}

.service-cards .card:hover .content .details h2 {
	color: #fff;	
}

.service-cards .card:hover .layer {
	top: 0;

}

.service-cards .card:hover .content .details h2 span {
	color: #fff;	
}
}*/

/*Projects*/

.projects {
	padding-top: 50px;
	padding-bottom: 30px;
	background: #f9f9f9;
}


.my-card {
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}



.projects .card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.projects .my-card {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	transition: transform 0.25s;
	margin: 0 auto;
	box-shadow: -1px 7px 37px -10px rgba(0, 0, 0, 0.75);
	width: 330px;
	border-color: transparent;
	position: relative;
	margin-bottom: 80px;

}

.projects .inner {
	overflow: hidden;
}

.projects .inner img {
	transition: all 1.5s ease;
}

/*@media only screen and (min-width:768px) {*/
	.projects .inner:hover img {
		transform: scale(1.5);
	}
	.projects .my-card:hover {
		box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
		transform: translate(0px, -10px);
	}
/*}*/


.projects .card-btn {
	border-radius: 20%;
	margin-left: 10px;
	margin-right: 10px;
	width: auto;
}

.projects .card-img-top {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.projects .my-card p {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}

.projects .my-card .card-body .card-btn {
	color: #fff;
}

.projects .btn {
	padding: 10px 25px 10px 25px;
	margin: 5px;
	border-radius: 30px;
	border: 2px rgb(0, 0, 0);
	background: rgb(87, 117, 173);
}

.projects .btn:hover {
	transition: 0.6s;
	cursor: pointer;
}

/*
#next-arrow {
	width: 23px;
	margin-left: 46px;
}

#prev-arrow {
	width: 23px;
	margin-right: 46px;
}*/


/*Contact*/

.contact {
	padding-top: 50px;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/background.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

.contact .row {
	padding: 30px 0;
	font-size: 22px;
}

.lang-es.active .selected-lang {
	src: url(../img/es.svg)
}

.lang-en.active .selected-lang {
	src: url(../img/us.svg)
}

.contact .row div:hover {
	display: inline-block;
}

.contact .row div a {
	color: #fff;
}

.contact .col-md-4 .fa {
	padding: 10px;
	font-size: 40px;
}

.contact .btn {
	text-align: center;
	padding: 10px 25px 10px 25px;
	margin: 5px;
	border-radius: 30px;
	border: 2px solid #fff;
	background: transparent;
}

.contact .btn:focus {
	box-shadow: none !important;
}

.contact .btn-container {
	text-align: center;
}

.contact .btn:hover {
	background: rgb(60, 102, 182) !important;
	border: 2px solid rgb(60, 102, 182) !important;
	transition: 0.6s;
	cursor: pointer;
}

.contact .btn .fa {
	margin-right: 10px;
}

form {
	width: 70%;
	margin: 0 auto;
}

form label {
	font-size: 1.5rem;
}

input,
select,
textarea {
	width: 100%;
	padding: 1rem;
	margin-bottom: 5px;
	border: none;
	outline-color: rgb(60, 102, 182) !important;
}

input[type="submit"] {
	width: initial;
	background-color: rgb(60, 102, 182) !important;
	color: #eee;
	padding: 1rem 2rem;
	border-radius: 30px;
	cursor: pointer;
	transition: background-color 650ms;
}

input[type="submit"]:hover {
	background-color: #b44164 !important;
	color: #ffffff;
}

.scrolltop-container a {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 10px;
	border: 1px solid #1c1c1c;
	border-radius: 50%;
	background-color: #fff;
	font-size: auto;
	line-height: 1;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	float: right;
	transform: translate(-50%, 75%)
}

.scrolltop-container:hover a {
	background-color: #b2b7b9
}

.social-icons {
	top: 50%;
	transform: translateY(-50%);
	position: sticky;
	z-index: 1;
	width: 3%;
}

.social-icons ul {
	padding: initial;
}

.social-icons ul li {
	height: 40px;
	width: 40px;
	padding-top: 6px;
	padding-left: 12px;
	margin-top: 5px;
	list-style-type: none;
	color: #fff;
	background: rgb(34, 34, 34);
	transition: 0.6s;
}

.social-icons ul li:hover {
	padding-left: 30px;
	width: 80px;
	transition: 0.6s;
}

.social-icons ul li#linkedin:hover {
	background-color: #0e76a8;
}

.social-icons ul li#twitter:hover {
	background-color: #00acee;
}

.social-icons ul li#instagram:hover {
	background: #f09433;
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.social-icons ul li#gitlab:hover {
	background-color: #1a0dab;
}

.separator {
	display: inline-block;
	background-color: rgb(255, 81, 0);
	height: 4px;
	width: 70px;
	box-shadow: 4px 4px 4px rgb(47, 47, 47);
	border-radius: 20%;
	transform: translateY(-80%)
}


/*///////*/

.footer {
	background: #343436;
	text-align: center;
	width: 100%;
	height: 50px;
	margin-top: 50px;
	padding-top: 10px;
}

.social-footer {
	background: rgb(73, 76, 79);
	text-align: center;
	width: 100%;
	height: 55px;
	padding: 5px;
}

.social-footer a {
	padding: 10px;
	margin: 5px;
	color: #000;
	height: auto;
	width: auto;
	border-radius: 50%;
	background: white;
	display: inline-block;
}

.social-footer .footer-instagram:hover {
	background: #f09433;
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.social-footer a:hover {
	color: white;
}

.social-footer .footer-twitter:hover {
	background-color: #00acee;
}

.social-footer .footer-linkedin:hover {
	background-color: #0e76a8;
}

.social-footer .footer-gitlab:hover {
	background-color: #1a0dab;
}

.cookie-banner{
	margin: 250px auto;
	height: 80px;
	max-width: 550px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 0 30px 4px #dad7d7;
}

.cookie-banner h1{
	font-size: 13px;
	padding-top: 8px;
}

.cookie-banner a{
	text-decoration: none;
	color: #0a99fa;
}

.cookie-banner .button{
	width: 20px;
	border: 1px solid #000;
	padding: 5px 20px 5px 20px;
	border-radius: 50px;
	float: right;
	margin: -15px 8px 0 0;
	cursor: pointer;
}

.cookie-banner .button:hover{
	color: #fff;
	background-color: #0a99fa;
	border: 1px solid #fff;
}